.foot{ 
    height:60px; 
    background:#e8e8e8; 
    color:#939393;
    .footer-contains{
        position:relative; 
        height:60px;
        .msg-box{
            line-height:60px; 
            position: relative;
            & a{ 
                padding-left: 12px; 
                color:#939393;
                &:hover{ color:#013f94;}
            }
        }
        .link-box{ 
            width:250px; 
            height:60px; 
            line-height:60px; 
            background:#e8e8e8; 
            position:relative; 
            margin-left:25px;
            .name{
                height:60px; 
                color:#898989; 
                padding-left:24px; 
                // background:url(../images/selectIco.png) right center no-repeat; 
                cursor:default; 
                font-size:14px; 
                cursor:pointer;
            }
            & dl{
                position:absolute; 
                z-index:30; 
                left:0px; 
                bottom:60px; 
                width:100%; 
                display:none;
                & dd{ 
                    margin-bottom:1px;
                    & a{
                        display:block; 
                        height:36px; 
                        line-height:36px; 
                        padding-left:24px; 
                        color:#828282; 
                        background: #e8e8e8;
                        &:hover{ color: #004898; text-decoration:underline; }
                    }
                }
            }
        }
        .share-box{ 
            padding-top: 14px; 
            & li{ 
                float: left; 
                width: 33px; 
                height: 33px; 
                margin-left: 15px; 
            }
        }
    }
}





