.foot {
  height: 60px;
  background: #e8e8e8;
  color: #939393; }
  .foot .footer-contains {
    position: relative;
    height: 60px; }
    .foot .footer-contains .msg-box {
      line-height: 60px;
      position: relative; }
      .foot .footer-contains .msg-box a {
        padding-left: 12px;
        color: #939393; }
        .foot .footer-contains .msg-box a:hover {
          color: #013f94; }
    .foot .footer-contains .link-box {
      width: 250px;
      height: 60px;
      line-height: 60px;
      background: #e8e8e8;
      position: relative;
      margin-left: 25px; }
      .foot .footer-contains .link-box .name {
        height: 60px;
        color: #898989;
        padding-left: 24px;
        background: url(../images/selectIco.png) right center no-repeat;
        cursor: default;
        font-size: 14px;
        cursor: pointer; }
      .foot .footer-contains .link-box dl {
        position: absolute;
        z-index: 30;
        left: 0px;
        bottom: 60px;
        width: 100%;
        display: none; }
        .foot .footer-contains .link-box dl dd {
          margin-bottom: 1px; }
          .foot .footer-contains .link-box dl dd a {
            display: block;
            height: 36px;
            line-height: 36px;
            padding-left: 24px;
            color: #828282;
            background: #e8e8e8; }
            .foot .footer-contains .link-box dl dd a:hover {
              color: #004898;
              text-decoration: underline; }
    .foot .footer-contains .share-box {
      padding-top: 14px; }
      .foot .footer-contains .share-box li {
        float: left;
        width: 33px;
        height: 33px;
        margin-left: 15px; }
