//工程案例
.highspeed {
    width: 100%;
    img {
        width: 31%;
        height: auto;
        display: block;
        float: left;
        margin: 10px 1%;
    }
}
.highspeed_big_img {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.7);
    z-index: 9999;
    display: none;
    img {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        width: 800px;
        height: auto;
        display: none;
    }
}

//专利技术
.patent {
    width: 100%;
    img {
        width: 30%;
        height: 400px;
        display: block;
        float: left;
        margin: 10px 1%;
    }
}
.patent_big_img {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.7);
    z-index: 9999;
    display: none;
    img {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        width: 800px;
        max-height: 100vh;
        display: none;
    }
}


//技术研发
.atlas {
    background: #f8f8f8;
    overflow: hidden;
    .atlas-title {
        text-align: center;
        margin-top: 30px;
        font-size: 20px;
        line-height: 40px;
        border-bottom: #ebebeb solid 1px;
    }
    .atlas-content {
        img {
            width: 30%;
            margin: 20px 1.5%;
        }
    }
}
.atlas_big_img {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.7);
    z-index: 9999;
    display: none;
    img {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        width: 500px;
        height: auto;
        display: none;
    }
}
.atlas_big_img2 img {
    width: 800px;
}
// 生产厂房
.product {
    margin-top: 20px;
    .house-image{
        width: 100%;
        padding: 0 50px;
        box-sizing: border-box;
        img {
            width: 100%;
            height: auto;
            margin-bottom: 20px;
        }
    }
}

//企业文化
.culture-show {
    padding: 10px 30px;
    .img-logo{
        width: 677px;
        height: 569px;
        margin: 0 auto;
    }
    .color1{
        color: #007aaa;
        line-height: 27px;
        font-size: 17px;
        text-align: center;
        font-weight: 700;
    }
    .color2{
        color: #d92142;
        font-size: 17px;
        line-height: 20px;
        text-align: center;
        font-weight: 700;
        margin-bottom: 27px;
    }
    .color3{
        width: 670px;
        margin: 27px auto;
        line-height: 34px;
        color: #333;
        text-align: right;
        font-weight: 700;
    }
    p {
        width: 670px;
        margin: 0 auto;
        font-size: 16px;
        line-height: 30px;
        padding: 0 20px;
        text-indent: 2em;
    }
    .culture-image {
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
    }
    .video{
        width: 670px;
        margin: 0  auto;

    }
    img {
        display: block;
        margin: 0 auto;
        width: 670px;
    }
    .message{
        width: 670px;
        margin: 0 auto;
        font-size: 16px;
        line-height: 30px;
    }
}

//首页
.new-contains-more {
    float: right;
    font-size: 14px;
    color: #b7b7b7;
}

//新闻中心
.news-list {
    padding: 20px 30px;
    li {
        height: 40px;
        line-height: 40px;
        border-bottom: 1px double #f2f2f2;
        font-size: 16px;
        padding: 0 10px;
    }
}

.news-content {
    padding: 20px 100px;
    h3 {
        line-height: 50px;
        font-size: 20px;
    }
    h4 {
        line-height: 40px;
        font-size: 16px;
        text-align: center;
        width: 100%;
    }
    p {
        line-height: 20px;
        font-size: 16px;
        text-indent: 2em;
    }
    // .image {
    //     width: 100%;
    //     padding: 20px;
    //     box-sizing: border-box;
    // }
    // img {
    //     width: 100%;
    // }
    .img-fl {
        width: 33%;
    }
    .img-line4{
        width: 24%;
    }
}

.news .list li{ height: 170px; border-bottom: #f8f8f8 solid 2px;  padding-left: 190px; position: relative;}
.news .list li .imgDiv{ position: absolute; left: 0px; top: 25px; overflow: hidden;}
.news .list li .imgDiv img{ width: 150px; }
.news .list li .name{ padding-top: 25px; height: 32px; line-height: 32px; overflow: hidden; padding-left: 24px; font-size: 15px; font-weight: bold; background: url(../images/ico4.png) left 36px no-repeat;}
.news .list li .name a{ color: #333; }
.news .list li .name a:hover{ color: #004898;}
.news .list li .content{ padding: 10px 0 0 24px; color: #a2a2a2; line-height: 24px; height: 48px; overflow: hidden;}
.news .list li .time{ padding: 10px 0 0 24px; color: #bbb; }