//工程案例
.highspeed {
    width: 100%;
    img {
        width: 31%;
        height: auto;
        display: block;
        float: left;
        margin: 10px 1%;
    }
}

//技术研发
.atlas {
    padding: 50px 100px;
    background: #f8f8f8;
    .atlas-title {
        text-align: center;
        margin-top: 10px;
        font-size: 20px;
        line-height: 40px;
        border-bottom: #ebebeb solid 1px;
    }
    .atlas-content {

        img {
            display: block;
            width: 80%;
            margin: 10px auto;
        }
    }
}

// 生产厂房
.product {
    margin-top: 20px;
    .house-image{
        width: 100%;
        padding: 0 50px;
        box-sizing: border-box;
        img {
            width: 100%;
            height: auto;
            margin-bottom: 20px;
        }
    }
}

//企业文化
.culture-show {
    padding: 10px 30px;
    p {
        font-size: 16px;
        line-height: 30px;
        padding: 0 20px;
        text-indent: 2em;
    }
    .culture-image {
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
    }
    img {
        width: 100%;
    }
}