<div class="foot">
    <div class="footer-contains">
        <div class="msg-box fl">© 2018 深圳市卓宝科技股份有限公司 
            <a href="http://www.miitbeian.gov.cn" target="_blank;">粤ICP备05147809号</a>   
            <a href="http://www.vancheer.com" target="_blank">Powered by vancheer</a>
        </div>
        
        <div class="link-box fl">
            <div class="name">友情链接</div>
            <dl>
                <dd><a href="http://zhuobao.vancheer.net/">3</a></dd>
            
                <dd><a href="http://zhuobao.vancheer.net/">2</a></dd>
            
                <dd><a href="http://zhuobao.vancheer.net/">1</a></dd>
            </dl>
        </div>

        <div class="share-box fr">
            <ul>
                <li><a href="javascript:tsina()"><img src="../../static/images/footer-weibo.png" alt=""></a></li>
                <li><a href="javascript:tqq()"><img src="../../static/images/footer-other.png" alt=""></a></li>
                <li><a href="javascript:weixin()"><img src="../../static/images/footer-weixin.png" alt=""></a></li>
            </ul>
        </div>
    </div>
</div>
<style>
    .fixed-bottom {position: fixed;bottom: 0;width:100%;}
</style>
<script>
          $(function(){
          function footerPosition(){
              $(".foot").removeClass("fixed-bottom");
              var contentHeight = document.body.scrollHeight,//网页正文全文高度
                  winHeight = window.innerHeight;//可视窗口高度，不包括浏览器顶部工具栏
              if(!(contentHeight > winHeight)){
                  //当网页正文高度小于可视窗口高度时，为footer添加类fixed-bottom
                  $(".foot").addClass("fixed-bottom");
              } else {
                  $(".foot").removeClass("fixed-bottom");
              }
          }
          footerPosition();
          $(window).resize(footerPosition);
      });
</script>


    