<div class="header">
    <div class="header-box">
        <a href="http://localhost/index.html" class="logo">
            <img src="../../static/images/components/header-logo.png" />
        </a>
        
        <div class="headerList">
            <ul>
                <li><a href="http://localhost/index.html" class="aNow">首页</a></li>
                <li><a href="http://localhost/pages/company/intro.html"  class="headerHoverItem">九鼎集团</a></li>
                <li><a href="http://localhost/pages/primary/p11.html"  class="headerHoverItem">主营业务</a></li>
                <li><a href="http://localhost/pages/tech/house.html" class="headerHoverItem">技术研发</a></li>
                <li><a href="http://localhost/pages/project/highspeed.html" class="headerHoverItem">工程案例</a></li>
                <li><a href="http://localhost/index.html" class="headerHoverItem">新闻中心</a></li>
                <li><a href="http://localhost/pages/join/advantage.html" class="headerHoverItem">代理加盟</a></li>
            </ul>
        </div>  

        <div class="header-menu">
            <ul>
                <li class="li01">
                    <em>
                        九鼎宏泰公众号
                    </em>
                    <div class="hideBox topGroup">
                        <img src="../../static/images/header-qrcode.png" alt="">
                    </div>
                </li>
            </ul>
        </div>  
        <div class="tel"><img src="../../static/images/header-phone.png" alt="">400-888-6908</div>
    </div>
</div>
<!-- 九鼎集团 -->
<div class="headerDown"> 
    <div class="leftListDiv fl">
        <div class="list-box">
            <ul>
                <li class="list-active"><a href="http://localhost/pages/company/intro.html">公司介绍</a></li> 
                <li><a href="http://localhost/pages/company/honour.html" >企业荣耀</a></li>
                <li><a href="http://localhost/pages/company/culture.html" >企业文化</a></li>   
            </ul>
        </div>
    </div>

    <div class="rightListDiv fl">
        <div class="tabContent box1">
            <div class="contentBox fl">
                <div class="name">为社会奉献不渗漏的防水工程，呵护人类诗意安居</div>
                <div class="content">Dedicate to the society without leakage of waterproofing works, and care for human poetic life</div>
                <div class="btnDiv">
                    <a href="http://localhost/pages/company/intro.html">了解更多</a>
                </div>
            </div>
            <div class="imgDiv fr">
                <img src="../../static/images/components/down-picture-1.jpg" class="fangda" alt="生产基地 - 防水公司 - 深圳市卓宝科技股份有限公司">
            </div>
        </div> 
        <div class="tabContent box1">
            <div class="contentBox fl">
                <div class="name">为社会奉献不渗漏的防水工程，呵护人类诗意安居</div>
                <div class="content">Dedicate to the society without leakage of waterproofing works, and care for human poetic life</div>
                <div class="btnDiv">
                    <a href="http://localhost/pages/company/honour.html">了解更多</a>
                </div>
            </div>
            <div class="imgDiv fr">
                <img src="../../static/images/components/down-picture-1.jpg" class="fangda" alt="生产基地 - 防水公司 - 深圳市卓宝科技股份有限公司">
            </div>
        </div> 
        <div class="tabContent box1">
            <div class="contentBox fl">
                <div class="name">为社会奉献不渗漏的防水工程，呵护人类诗意安居</div>
                <div class="content">Dedicate to the society without leakage of waterproofing works, and care for human poetic life</div>
                <div class="btnDiv">
                    <a href="http://localhost/pages/company/culture.html">了解更多</a>
                </div>
            </div>
            <div class="imgDiv fr">
                <img src="../../static/images/components/down-picture-1.jpg" class="fangda" alt="生产基地 - 防水公司 - 深圳市卓宝科技股份有限公司">
            </div>
        </div> 
    </div>
</div>

<!-- 主营业务 -->
<div class="headerDown"> 
    <div class="leftListDiv fl">
        <div class="list-box">
            <ul>
                <li class="list-active"><a title="黑将军" href="http://localhost/pages/primary/p11.html">黑将军</a></li> 
                <li><a title="高品质维修防水材料" href="http://localhost/pages/primary/p21.html">高品质维修防水材料</a></li>   
                <li><a title="改性沥青防水卷材" href="http://localhost/pages/primary/p31.html">改性沥青防水卷材</a></li>
                <li><a title="建筑防水涂料系列" href="http://localhost/pages/primary/p41.html">建筑防水涂料系列</a></li>   
                <li><a title="高分子防水卷材系列" href="http://localhost/pages/primary/p51.html">高分子防水卷材系列</a></li>
                <li><a title="种植屋面耐根穿刺防水卷材系列" href="http://localhost/pages/primary/p61.html">种植屋面耐根穿刺防水卷材系列</a></li>   
            </ul>
        </div>
    </div>

    <div class="rightListDiv fl">
        <div class="tabContent box1">
            <div class="contentBox fl">
                <div class="name">为社会奉献不渗漏的防水工程，呵护人类诗意安居</div>
                <div class="content">Dedicate to the society without leakage of waterproofing works, and care for human poetic life</div>
                <div class="btnDiv">
                    <a href="http://localhost/pages/primary/p11.html">了解更多</a>
                </div>
            </div>
            <div class="imgDiv fr">
                <img src="../../static/images/components/down-picture-1.jpg" class="fangda" alt="生产基地 - 防水公司 - 深圳市卓宝科技股份有限公司">
            </div>
        </div> 
        <div class="tabContent box1">
            <div class="contentBox fl">
                <div class="name">为社会奉献不渗漏的防水工程，呵护人类诗意安居</div>
                <div class="content">Dedicate to the society without leakage of waterproofing works, and care for human poetic life</div>
                <div class="btnDiv">
                    <a href="http://localhost/pages/primary/p21.html">了解更多</a>
                </div>
            </div>
            <div class="imgDiv fr">
                <img src="../../static/images/components/down-picture-1.jpg" class="fangda" alt="生产基地 - 防水公司 - 深圳市卓宝科技股份有限公司">
            </div>
        </div> 
        <div class="tabContent box1">
            <div class="contentBox fl">
                <div class="name">为社会奉献不渗漏的防水工程，呵护人类诗意安居</div>
                <div class="content">Dedicate to the society without leakage of waterproofing works, and care for human poetic life</div>
                <div class="btnDiv">
                        <a href="http://localhost/pages/primary/p31.html">了解更多</a>
                </div>
            </div>
            <div class="imgDiv fr">
                <img src="../../static/images/components/down-picture-1.jpg" class="fangda" alt="生产基地 - 防水公司 - 深圳市卓宝科技股份有限公司">
            </div>
        </div> 
        <div class="tabContent box1">
            <div class="contentBox fl">
                <div class="name">为社会奉献不渗漏的防水工程，呵护人类诗意安居</div>
                <div class="content">Dedicate to the society without leakage of waterproofing works, and care for human poetic life</div>
                <div class="btnDiv">
                        <a href="http://localhost/pages/primary/p41.html">了解更多</a>
                </div>
            </div>
            <div class="imgDiv fr">
                <img src="../../static/images/components/down-picture-1.jpg" class="fangda" alt="生产基地 - 防水公司 - 深圳市卓宝科技股份有限公司">
            </div>
        </div> 
        <div class="tabContent box1">
            <div class="contentBox fl">
                <div class="name">为社会奉献不渗漏的防水工程，呵护人类诗意安居</div>
                <div class="content">Dedicate to the society without leakage of waterproofing works, and care for human poetic life</div>
                <div class="btnDiv">
                        <a href="http://localhost/pages/primary/p51.html">了解更多</a>
                </div>
            </div>
            <div class="imgDiv fr">
                <img src="../../static/images/components/down-picture-1.jpg" class="fangda" alt="生产基地 - 防水公司 - 深圳市卓宝科技股份有限公司">
            </div>
        </div> 
        <div class="tabContent box1">
            <div class="contentBox fl">
                <div class="name">为社会奉献不渗漏的防水工程，呵护人类诗意安居</div>
                <div class="content">Dedicate to the society without leakage of waterproofing works, and care for human poetic life</div>
                <div class="btnDiv">
                        <a href="http://localhost/pages/primary/p61.html">了解更多</a>
                </div>
            </div>
            <div class="imgDiv fr">
                <img src="../../static/images/components/down-picture-1.jpg" class="fangda" alt="生产基地 - 防水公司 - 深圳市卓宝科技股份有限公司">
            </div>
        </div> 
    </div>
</div>

<!-- 技术研发 -->
<div class="headerDown"> 
    <div class="leftListDiv fl">
        <div class="list-box">
            <ul>
                <li class="list-active"><a href="http://localhost/pages/tech/house.html">生产厂房</a></li> 
                <li><a href="http://localhost/pages/tech/top.html">顶尖技术</a></li>
                <li><a href="http://localhost/pages/tech/patent.html">专利认证</a></li>  
                <li><a href="http://localhost/pages/tech/atlas.html" class="left-list-active">图集/标准参编</a></li>   
            </ul>
        </div>
    </div>

    <div class="rightListDiv fl">
        <div class="tabContent box1">
            <div class="contentBox fl">
                <div class="name">为社会奉献不渗漏的防水工程，呵护人类诗意安居</div>
                <div class="content">Dedicate to the society without leakage of waterproofing works, and care for human poetic life</div>
                <div class="btnDiv">
                    <a href=href="http://localhost/pages/tech/top.html">了解更多</a>
                </div>
            </div>
            <div class="imgDiv fr">
                <img src="../../static/images/components/down-picture-1.jpg" class="fangda" alt="生产基地 - 防水公司 - 深圳市卓宝科技股份有限公司">
            </div>
        </div> 
        <div class="tabContent box1">
            <div class="contentBox fl">
                <div class="name">为社会奉献不渗漏的防水工程，呵护人类诗意安居</div>
                <div class="content">Dedicate to the society without leakage of waterproofing works, and care for human poetic life</div>
                <div class="btnDiv">
                    <a href="http://localhost/pages/tech/top.html">了解更多</a>
                </div>
            </div>
            <div class="imgDiv fr">
                <img src="../../static/images/components/down-picture-1.jpg" class="fangda" alt="生产基地 - 防水公司 - 深圳市卓宝科技股份有限公司">
            </div>
        </div> 
        <div class="tabContent box1">
            <div class="contentBox fl">
                <div class="name">为社会奉献不渗漏的防水工程，呵护人类诗意安居</div>
                <div class="content">Dedicate to the society without leakage of waterproofing works, and care for human poetic life</div>
                <div class="btnDiv">
                    <a href="http://localhost/pages/tech/patent.html">了解更多</a>
                </div>
            </div>
            <div class="imgDiv fr">
                <img src="../../static/images/components/down-picture-1.jpg" class="fangda" alt="生产基地 - 防水公司 - 深圳市卓宝科技股份有限公司">
            </div>
        </div> 
        <div class="tabContent box1">
                <div class="contentBox fl">
                    <div class="name">为社会奉献不渗漏的防水工程，呵护人类诗意安居</div>
                    <div class="content">Dedicate to the society without leakage of waterproofing works, and care for human poetic life</div>
                    <div class="btnDiv">
                        <a href="http://localhost/pages/tech/atlas.html">了解更多</a>
                    </div>
                </div>
                <div class="imgDiv fr">
                    <img src="../../static/images/components/down-picture-1.jpg" class="fangda" alt="生产基地 - 防水公司 - 深圳市卓宝科技股份有限公司">
                </div>
            </div> 
    </div>
</div>

<!-- 工程案例 -->
<div class="headerDown"> 
        <div class="leftListDiv fl">
            <div class="list-box">
                <ul>
                    <li class="list-active"><a href="http://localhost/pages/project/highspeed.html">轨道交通</a></li> 
                    <li><a href="http://localhost/pages/project/building.html" >楼盘开发</a></li>
                    <li><a href="http://localhost/pages/project/unit.html" >企事业单位</a></li>   
                </ul>
            </div>
        </div>
    
        <div class="rightListDiv fl">
            <div class="tabContent box1">
                <div class="contentBox fl">
                    <div class="name">为社会奉献不渗漏的防水工程，呵护人类诗意安居</div>
                    <div class="content">Dedicate to the society without leakage of waterproofing works, and care for human poetic life</div>
                    <div class="btnDiv">
                        <a href="http://localhost/company/intro.html">了解更多</a>
                    </div>
                </div>
                <div class="imgDiv fr">
                    <img src="../../static/images/components/down-picture-1.jpg" class="fangda" alt="生产基地 - 防水公司 - 深圳市卓宝科技股份有限公司">
                </div>
            </div> 
            <div class="tabContent box1">
                <div class="contentBox fl">
                    <div class="name">为社会奉献不渗漏的防水工程，呵护人类诗意安居</div>
                    <div class="content">Dedicate to the society without leakage of waterproofing works, and care for human poetic life</div>
                    <div class="btnDiv">
                        <a href="http://localhost/company/honour.html">了解更多</a>
                    </div>
                </div>
                <div class="imgDiv fr">
                    <img src="../../static/images/components/down-picture-1.jpg" class="fangda" alt="生产基地 - 防水公司 - 深圳市卓宝科技股份有限公司">
                </div>
            </div> 
            <div class="tabContent box1">
                <div class="contentBox fl">
                    <div class="name">为社会奉献不渗漏的防水工程，呵护人类诗意安居</div>
                    <div class="content">Dedicate to the society without leakage of waterproofing works, and care for human poetic life</div>
                    <div class="btnDiv">
                        <a href="http://localhost/company/culture.html">了解更多</a>
                    </div>
                </div>
                <div class="imgDiv fr">
                    <img src="../../static/images/components/down-picture-1.jpg" class="fangda" alt="生产基地 - 防水公司 - 深圳市卓宝科技股份有限公司">
                </div>
            </div> 
        </div>
    </div>
<!-- 新闻中心 -->
<div class="headerDown"> 
        <div class="leftListDiv fl">
            <div class="list-box">
                <ul>
                    <li class="list-active"><a href="http://localhost/pages/company/intro.html">公司介绍</a></li> 
                    <li><a href="http://localhost/pages/company/honour.html" >企业荣耀</a></li>
                    <li><a href="http://localhost/pages/company/culture.html" >企业文化</a></li>   
                </ul>
            </div>
        </div>
    
        <div class="rightListDiv fl">
            <div class="tabContent box1">
                <div class="contentBox fl">
                    <div class="name">为社会奉献不渗漏的防水工程，呵护人类诗意安居</div>
                    <div class="content">Dedicate to the society without leakage of waterproofing works, and care for human poetic life</div>
                    <div class="btnDiv">
                        <a href="http://localhost/company/intro.html">了解更多</a>
                    </div>
                </div>
                <div class="imgDiv fr">
                    <img src="../../static/images/components/down-picture-1.jpg" class="fangda" alt="生产基地 - 防水公司 - 深圳市卓宝科技股份有限公司">
                </div>
            </div> 
            <div class="tabContent box1">
                <div class="contentBox fl">
                    <div class="name">为社会奉献不渗漏的防水工程，呵护人类诗意安居</div>
                    <div class="content">Dedicate to the society without leakage of waterproofing works, and care for human poetic life</div>
                    <div class="btnDiv">
                        <a href="http://localhost/company/honour.html">了解更多</a>
                    </div>
                </div>
                <div class="imgDiv fr">
                    <img src="../../static/images/components/down-picture-1.jpg" class="fangda" alt="生产基地 - 防水公司 - 深圳市卓宝科技股份有限公司">
                </div>
            </div> 
            <div class="tabContent box1">
                <div class="contentBox fl">
                    <div class="name">为社会奉献不渗漏的防水工程，呵护人类诗意安居</div>
                    <div class="content">Dedicate to the society without leakage of waterproofing works, and care for human poetic life</div>
                    <div class="btnDiv">
                        <a href="http://localhost/company/culture.html">了解更多</a>
                    </div>
                </div>
                <div class="imgDiv fr">
                    <img src="../../static/images/components/down-picture-1.jpg" class="fangda" alt="生产基地 - 防水公司 - 深圳市卓宝科技股份有限公司">
                </div>
            </div> 
        </div>
    </div>
<!-- 代理加盟 -->
<div class="headerDown"> 
        <div class="leftListDiv fl">
            <div class="list-box">
                <ul>
                    <li class="list-active"><a href="http://localhost/pages/join/advantage.html">加盟优势</a></li> 
                    <li><a href="http://localhost/pages/join/flow.html" class="left-list-active" >加盟流程</a></li>
                </ul>
            </div>
        </div>
    
        <div class="rightListDiv fl">
            <div class="tabContent box1">
                <div class="contentBox fl">
                    <div class="name">为社会奉献不渗漏的防水工程，呵护人类诗意安居</div>
                    <div class="content">Dedicate to the society without leakage of waterproofing works, and care for human poetic life</div>
                    <div class="btnDiv">
                        <a href="http://localhost/join/advantage.html">了解更多</a>
                    </div>
                </div>
                <div class="imgDiv fr">
                    <img src="../../static/images/components/down-picture-1.jpg" class="fangda" alt="生产基地 - 防水公司 - 深圳市卓宝科技股份有限公司">
                </div>
            </div> 
            <div class="tabContent box1">
                <div class="contentBox fl">
                    <div class="name">为社会奉献不渗漏的防水工程，呵护人类诗意安居</div>
                    <div class="content">Dedicate to the society without leakage of waterproofing works, and care for human poetic life</div>
                    <div class="btnDiv">
                        <a href="http://localhost/join/advantage.html">了解更多</a>
                    </div>
                </div>
                <div class="imgDiv fr">
                    <img src="../../static/images/components/down-picture-1.jpg" class="fangda" alt="生产基地 - 防水公司 - 深圳市卓宝科技股份有限公司">
                </div>
            </div> 
        </div>
    </div>
<script>

    $(function(){
        //遍历header导航
        $('.headerHoverItem').each(function(i){
            $(this).hover(function(){
                //滑过高亮
                $('.headerHoverItem').eq(i).addClass('headerItemActive');
                //计算下拉菜单位置
                if(i<2){
                    $('.headerDown').eq(i).css('left',$(this).offset().left);
                }else if (i<4){
                    $('.headerDown').eq(i).css('left',$(this).offset().left - 200);
                }else{
                    $('.headerDown').eq(i).css('left',$(this).offset().left - 430);
                    }
                //下拉菜单动画效果，延迟300毫秒
                $('.headerDown').eq(i).slideToggle(300);
            }, function(){
                $('.headerHoverItem').removeClass('headerItemActive');
                $('.headerDown').hide();
            })
        })	

        //若下拉菜单滑过，给对应的header导航栏添加高亮样式
        $('.headerDown').each(function(i){
            $(this).hover(function(){
                $('.headerHoverItem').eq(i).addClass('headerItemActive');
                $(this).show();
            },function(){
                $('.headerHoverItem').removeClass('headerItemActive');
                $('.headerDown').hide();
            })
        })

        //--
        $('.rightListDiv').find('.tabContent:first').show();
    
        $('.list-box').each(function(i){
            $(this).find('li').each(function(ii){
                $(this).hover(function(){
                    $('.list-box').eq(i).find('li').removeClass('list-active');
                    $(this).addClass('list-active');
                    $('.rightListDiv').eq(i).find('.tabContent').hide();
                    $('.rightListDiv').eq(i).find('.tabContent').eq(ii).show();
                },function(){

                })
            })
		})
	//--
	// $('.tabContentDiv2').find('.tabContent2:first').show();
        
    // $('.tab2').each(function(i){
    //     $(this).find('li').each(function(ii){
    //         $(this).click(function(){
    //             $('.tab2').eq(i).find('li').removeClass('liNow');
    //             $(this).addClass('liNow');
    //             $('.tabContentDiv2').eq(i).find('.tabContent2').hide();
    //             $('.tabContentDiv2').eq(i).find('.tabContent2').eq(ii).show();
    //         })
    //     })
    // })
	//--	
	// $('.navIco').click(function(){
	// 	$('.navLayer').animate({right: "0",width:"100%"}, 500);
	// 	$('.closeIco').fadeIn(500);
	// 	$('.navIco').fadeOut(500);
	// 	$('.searchLayerTel').fadeOut(500);
    // })
	// $('.closeIco').click(function(){
	// 	$('.navLayer').animate({right: "-100%",width:0}, 500);
	// 	$('.subNav1').siblings(".navContent").slideUp(500);
	// 	$('.subNav1').removeClass("currentDt");
	// 	$('.closeIco').fadeOut(500);
	// 	$('.navIco').fadeIn(500);
	// 	$('.pageBg').fadeOut(500);
    // })
	//--
	// $(".subNav1").click(function(){
	// 		$(this).toggleClass("currentDt").siblings(".subNav1").removeClass("currentDt")
	// 		$(this).next(".navContent").slideToggle(300).siblings(".navContent").slideUp(500)
	// })
	//--
	// $('.header').find('.topSearchIco').click(function(){
	// 	$('.searchLayerTel').fadeIn(500);
	// 	$('.pageBg').fadeIn(500);
	// 	$('.navLayer').animate({right: "-100%",width:0}, 500);
	// 	$('.navIco').fadeIn(500);
	// 	$('.closeIco').fadeOut(500);
    // })
	//--
	// $('.pageBg').click(function(){
	// 	$('.searchLayerTel').fadeOut(500);
	// 	$('.pageBg').fadeOut(500);
    // })
	//--
	// $('.sideTitleTel').find('.tan').toggle(
	//    function(){
	// 	   $('.sideTitleNav').show();
	// 	   $('.sideTitleTel').find('.con').addClass('on');
	// 	   },
	//    function(){
	// 	   $('.sideTitleNav').hide();
	// 	   $('.sideTitleTel').find('.con').removeClass('on');
	// 	   }
	// )
	// $('.sideTitleNav').find('.li01').find('em').find('a').toggle(
	//    function () {
	//        $('.sideTitleNav').find('.li01').find('em').find('a').addClass('on1');
	//        $('.sideTitleNav').find('dl').show();
	//    },
	//    function () {
	//        $('.sideTitleNav').find('.li01').find('em').find('a').removeClass('on1');
	//        $('.sideTitleNav').find('dl').hide();
	//    }
	// )

	//--
	// $('.listHover').find('li').hover(function(){
    //     $(this).addClass('on');
    // },function(){
    //     $(this).removeClass('on');
    // })
	//--
	// if($('.topA').length>0){
	// 	$(window).scroll(function(){
	// 		if($(window).scrollTop()>200){
	// 			$('.topA').fadeIn(200);
    //         }else{
    //             $('.topA').fadeOut(200);
    //         }
    //     })
    // }
	//--
	// $('.topA').click(function(){
	// 	$('body,html').animate({scrollTop: 0}, 500);
    // })
	//--
	$('.header').find('.header-menu').find('.li01').each(function(i){
		$(this).hover(function(){
            $('.header').find('.header-menu').find('.li01').eq(i).find('.hideBox').slideToggle(300);
            $('.header').find('.header-menu').find('.li01').eq(i).addClass('liNow');
        },function(){
            $('.header').find('.header-menu').find('.li01').eq(i).find('.hideBox').hide();
            $('.header').find('.header-menu').find('.li01').eq(i).removeClass('liNow');
        })
    })
        //--
    $('.indexBox').find('.box4').find('li:odd').addClass('li01');
    $('.base').find('.list').find('li:odd').addClass('li01');
    $('.contact').find('.list2').find('li:odd').addClass('li01');
    $('.process').find('.list').find('li:odd').addClass('li01');
	//--
	if($(window).width()>=1004){
		$('.culture').find('li').hover(
		   function(){
			   $(this).find('.ico').stop().animate({top: -10}, 100);
			   $(this).find('.ico').delay(100).animate({top: 0}, 200);
			   },
		   function(){
			   }
		)	
	}
	//--
	$('.applyForm').find('.form').find('dd').click(function(){
		$('.applyForm').find('.form').find('dd').removeClass('ddNow');
		$(this).addClass('ddNow');
	})
	$('.foot').find('.links').hover(
           function(){
               $(this).find('dl').stop(true,true).slideDown(300);
           },
           function(){
               $(this).find('dl').stop(true,true).slideUp(300);
           }
        )
    
    
    //下拉通用
    // 产品详情下拉功能
	$('.select').each(function(i){
        function showFn(selectObj) { //展开效果
            // 把其他的下拉收起
            $('.select').children("dd").slideUp(200);
            selectObj.children("dd").slideDown(200);
            } 
        function hideFn(selectObj){ //关闭效果
            selectObj.children("dd").slideUp(200);
        }
        function hideAll(){
            $('.select dd').slideUp(200);
        };

        $(this).children('dt').click(function(){
            var index = $(this).parent().index();
            // var z = selectObj.css("z-index");
            var selectObj = $(this).parent();
            $(this).next().is(":hidden")?showFn(selectObj):hideFn(selectObj);
        });
        $(this).children('dd').find("li").click(function(){ 
            var index = $(this).closest('.select').index();
            var dataId=$(this).attr('data-id');
            var selectObj = $(this).closest('.select');
            $(this).closest('.select').children("dt").find('a').html($(this).html());
            $(this).closest('.select').children("dt").find('a').attr('data-id',dataId);
            hideFn(selectObj);
	    });
        $("body").click(function(i){ 
            !$(i.target).parents(".select").first().is($(".select")) ? hideAll():"";
        });
	});
	//--
	
})

    // window.onresize=function(){
    // 	var bigheight=$('.indexPart3').find('.leftListDiv').find('img').height();
    // 	$('.indexPart3').find('.rightListDiv').height(bigheight+'px');
    // 	}


    // window.onload=function(){
    // 	var bigheight=$('.indexPart3').find('.leftListDiv').find('img').height();
    // 	$('.indexPart3').find('.rightListDiv').height(bigheight+'px');
    // 	}


    jQuery(document).ready(function($){
        // browser window scroll (in pixels) after which the "back to top" link is shown
        var offset = 600,
            //browser window scroll (in pixels) after which the "back to top" link opacity is reduced
            offset_opacity = 1200,
            //duration of the top scrolling animation (in ms)
            scroll_top_duration = 700,
            //grab the "back to top" link
            $back_to_top = $('.cd-top');

        //hide or show the "back to top" link
        $(window).scroll(function(){
            ( $(this).scrollTop() > offset ) ? $back_to_top.addClass('cd-is-visible') : $back_to_top.removeClass('cd-is-visible cd-fade-out');
            if( $(this).scrollTop() > offset_opacity ) { 
                $back_to_top.addClass('cd-fade-out');
            }
        });

        //smooth scroll to top
        $back_to_top.on('click', function(event){
            event.preventDefault();
            $('body,html').animate({
                scrollTop: 0 ,
                }, scroll_top_duration
            );
        });

    });	

    $('.video-show-btn').find('a').click(function () {
        $('.videoImg').show();

    })
    //--
    $('.videoImg').find('.close').click(function () {
        $('.videoImg').hide();

    })

    function search() {
        var keys = document.getElementById("txtk").value;
        location.href = "/NewsCenter/search.aspx?a=n&keys=" + keys;
    }

    function entersearch() {
        //alert(dd);
        var keys = document.getElementById("txtk").value;
        var event = window.event || arguments.callee.caller.arguments[0];
        if (event.keyCode == 13) {
            //search();
            window.location.href = "/NewsCenter/search.aspx?a=n&keys=" + keys;
            return false;
        }
    }


</script>