.a {
  background: #185; }

.page-common-banner {
  position: relative; }
  .page-common-banner img {
    width: 100%; }

.page-common-box {
  padding: 45px 0 80px; }
  .page-common-box .page-common-content {
    width: 1200px;
    margin: 0px auto; }
    .page-common-box .page-common-content .page-common-left {
      width: 220px;
      overflow: hidden; }
      .page-common-box .page-common-content .page-common-left .pageTitle {
        width: 100%;
        height: 89px;
        background: url(../images/nav-header.jpg) no-repeat;
        color: #fff; }
        .page-common-box .page-common-content .page-common-left .pageTitle .txt1 {
          padding: 20px 0 0 46px;
          font-size: 24px;
          font-weight: bold; }
        .page-common-box .page-common-content .page-common-left .pageTitle .txt2 {
          padding-left: 46px;
          padding-top: 5px;
          opacity: 0.3; }
      .page-common-box .page-common-content .page-common-left .leftNav {
        border: #e9e9ed solid 1px;
        border-bottom: none; }
        .page-common-box .page-common-content .page-common-left .leftNav li {
          font-size: 14px;
          border-bottom: #e9e9ed solid 1px; }
          .page-common-box .page-common-content .page-common-left .leftNav li a {
            display: block;
            padding-left: 45px;
            height: 65px;
            line-height: 65px;
            background: #f6f6f6;
            color: #333; }
            .page-common-box .page-common-content .page-common-left .leftNav li a:hover {
              background: #fff url(../images/right-arrow-icon.png) 32px center no-repeat;
              color: #004898;
              font-weight: bold; }
          .page-common-box .page-common-content .page-common-left .leftNav li .left-list-active {
            background: #fff url(../images/right-arrow-icon.png) 32px center no-repeat;
            color: #004898;
            font-weight: bold; }
      .page-common-box .page-common-content .page-common-left .left-level-nav {
        border: #e9e9ed solid 1px;
        border-bottom: none; }
        .page-common-box .page-common-content .page-common-left .left-level-nav .level-1 {
          position: relative;
          font-size: 14px;
          border-bottom: #e9e9ed solid 1px;
          padding-left: 10px;
          height: 65px;
          line-height: 65px;
          color: #333;
          background-color: #dfdfdf; }
        .page-common-box .page-common-content .page-common-left .left-level-nav .level-2 img {
          position: absolute;
          top: 30px;
          right: 15px;
          transform: rotate(-90deg); }
        .page-common-box .page-common-content .page-common-left .left-level-nav .level-down {
          background: url(../images/header-arrow-down.png) no-repeat;
          background-position: 186px 30px;
          background-color: #dfdfdf; }
          .page-common-box .page-common-content .page-common-left .left-level-nav .level-down img {
            display: none; }
        .page-common-box .page-common-content .page-common-left .left-level-nav ul li {
          font-size: 14px;
          border-bottom: #e9e9ed solid 1px; }
          .page-common-box .page-common-content .page-common-left .left-level-nav ul li a {
            display: block;
            padding: 0 10px 0 45px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            height: 65px;
            line-height: 65px;
            background: #f6f6f6;
            color: #333; }
            .page-common-box .page-common-content .page-common-left .left-level-nav ul li a:hover {
              background: #fff url(../images/right-arrow-icon.png) 32px center no-repeat;
              color: #004898;
              font-weight: bold; }
          .page-common-box .page-common-content .page-common-left .left-level-nav ul li .left-list-active {
            background: #fff url(../images/right-arrow-icon.png) 32px center no-repeat;
            color: #004898;
            font-weight: bold; }
    .page-common-box .page-common-content .page-common-right {
      width: 900px;
      overflow: hidden; }
      .page-common-box .page-common-content .page-common-right .pageTop {
        height: 66px;
        border-bottom: #f2f2f2 solid 1px;
        position: relative; }
        .page-common-box .page-common-content .page-common-right .pageTop .pageName {
          padding-top: 8px;
          color: #d0d0d0; }
          .page-common-box .page-common-content .page-common-right .pageTop .pageName b {
            color: #484848;
            font-size: 24px;
            padding-right: 10px; }
        .page-common-box .page-common-content .page-common-right .pageTop .pageNow {
          position: absolute;
          right: 0px;
          height: 40px;
          top: 16px;
          z-index: 2;
          color: #c2c2c2; }
          .page-common-box .page-common-content .page-common-right .pageTop .pageNow a {
            color: #c2c2c2; }
            .page-common-box .page-common-content .page-common-right .pageTop .pageNow a:hover {
              text-decoration: underline; }
          .page-common-box .page-common-content .page-common-right .pageTop .pageNow img {
            position: relative;
            padding-right: 8px;
            top: -2px; }
          .page-common-box .page-common-content .page-common-right .pageTop .pageNow em {
            color: #515151; }
