.highspeed {
  width: 100%; }
  .highspeed img {
    width: 31%;
    height: auto;
    display: block;
    float: left;
    margin: 10px 1%; }

.atlas {
  padding: 50px 100px;
  background: #f8f8f8; }
  .atlas .atlas-title {
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
    line-height: 40px;
    border-bottom: #ebebeb solid 1px; }
  .atlas .atlas-content img {
    display: block;
    width: 80%;
    margin: 10px auto; }

.product {
  margin-top: 20px; }
  .product .house-image {
    width: 100%;
    padding: 0 50px;
    box-sizing: border-box; }
    .product .house-image img {
      width: 100%;
      height: auto;
      margin-bottom: 20px; }

.culture-show {
  padding: 10px 30px; }
  .culture-show p {
    font-size: 16px;
    line-height: 30px;
    padding: 0 20px;
    text-indent: 2em; }
  .culture-show .culture-image {
    width: 100%;
    padding: 10px;
    box-sizing: border-box; }
  .culture-show img {
    width: 100%; }
